@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:'roboto-thin';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base{
    @font-face {
        font-family: 'poppins-bold';
        src: url('/fonts/Poppins-Bold.woff2') format('woff2');
        
      }
    
      @font-face {
        font-family: 'poppins-extralight';
        src: url('/fonts/Poppins-ExtraLight.woff2') format('woff2');
        
      }
      
      @font-face {
        font-family: 'poppins-light';
        src: url('/fonts/Poppins-Light.woff2') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-medium';
        src: url('/fonts/Poppins-Medium.woff2') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-regular';
        src: url('/fonts/Poppins-Regular.woff2') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-semibold';
        src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
        
      }
      @font-face {
        font-family: 'poppins-thin';
        src: url('/fonts/Poppins-Thin.woff2') format('woff2');
        
      }
      @font-face {
        font-family: 'roboto-bold';
        src: url('/fonts/Roboto-Bold.woff2') format('woff2');
      }
      
      @font-face {
        font-family: 'roboto-light';
        src: url('/fonts/Roboto-Light.woff2') format('woff2');
      }
      
      @font-face {
        font-family: 'roboto-medium';
        src: url('/fonts/Roboto-Medium.woff2') format('woff2');
      }
      
      @font-face {
        font-family: 'roboto-regular';
        src: url('/fonts/Roboto-Regular.woff2') format('woff2');
      }
      
      @font-face {
        font-family: 'roboto-thin';
        src: url('/fonts/Roboto-Thin.woff2') format('woff2');
      }
}
